body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.font {
    font-weight: 900;
    font-size: 70px;
    padding-bottom: 50px;

}

.text-deco {
    text-align: center;
    color: white;
}

.padding-p {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.top-banner {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 130px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: white;
    padding: 15px 20px;
    border-radius: 25px;

}

.middle-text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.middle-text h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.flexible-content {
    display: flex;
}

.flexible-content h1 {
    background-color: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px 20px;
    border-radius: 5px;
}

#p-left {
    margin-left: 25%;
    padding-bottom: 30px;
}

#tomato-color {
    background-color: tomato;


}


.ammount {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

hr {
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.input-button {
    font-size: 20px;
    border: none;
    padding-bottom: 5px;
}


.donation-plan {
    text-align: center;
    padding-bottom: 50px;
}


#dplan-p {
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

.half-width {
    display: flex;
    margin-bottom: 100px;
}

#background-div1 {
    background-color: skyblue;
    margin-left: 10%;
    padding: 20px 20px;
    border-radius: 10px;
}

#background-div1 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#background-div2 {
    background-color: bisque;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}

#background-div2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#background-div3 {
    background-color: aquamarine;
    margin-right: 10%;
    padding: 20px 20px;
    border-radius: 10px;

}

#background-div3 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.donating-food {
    display: flex;
    margin: 70px;
}

.donating-food img {
    width: 90%;
    border-radius: 10px;

}

.donate-p1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.donate-p2 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.donate-p1 {
    margin-left: 5%;
    margin-right: 5%;
}

.donate-p1 p {
    margin-bottom: 20px;
}

.donate-p2 {
    margin-right: 5%;

}

.donate-p2 p {
    margin-bottom: 20px;
}

#news-h1 {
    text-align: center;
    font-size: 50px;
}

#news {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}

#news h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.news-halfwidth {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}

#news img {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.updates {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;
}

.updates-h1 {
    font-size: 40px;
}

.email {
    background-color: bisque;
    margin-bottom: 100px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    margin-left: 20%;
    margin-right: 20%;

}

#email-width {
    width: 300px;
    height: 30px;
}

.sub-button {
    width: 100px;
    height: 35px;
    border: none;
    color: white;
    background-color: #FF5959;
}

.footer {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 70px;

}

.footer h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #FF5959;
    margin-top: 50px;
    padding-top: 10px;

}

.footer-p {
    text-align: center;
    color: white;
    margin-top: 20px;
}